@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


  body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-tap-highlight-color: transparent;
  }
  canvas{
    border: 2px solid white;

  }
  
  .overlay-modal{
    display: none;
  }
  
  .showModal{
    display: flex;
  }

@layer utilities {

  .screenBtn{
    @apply border p-2 w-fit bg-black rounded
  }

}

